{% extends "base.html" %}

{% block content %}

<h1>AllTech Mini Board</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 toolbar" id="toolbar">
      <!-- column #1 -->
      <div id="colorTools">
        <label>Brush Color:</label>
        <input type="color" id="colorPicker">
      </div>
      <div id="brushSize">
        <label>Brush Size:</label>
        <br>
        <input type="range" id="brushSizePicker" min="1" max="40" value="5">
      </div>
      <div id="imageTools">

      </div>
      <div id="backgroundColorTools">
        <label>Background color:</label>
        <input type="color" id="backgroundColorPicker">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 h-100 d-flex align-items-center justify-content-center">
      <!-- column #2-->
      <div class="d-flex flex-column">
        <canvas id="paint" width="650" height="450"></canvas>
        <div id="buttonContainer" class="mt-3">
          <button id="penciltool" type="button" class="btn btn-primary" onclick="pencil()">Pencil</button>
          <button id="linetool" type="button" class="btn btn-primary" onclick="line()">Line</button>
          <button id="rectangletool" type="button" class="btn btn-primary" onclick="rectangle()">Rectangle</button> 
          <button id="circletool" type="button" class="btn btn-primary" onclick="circle()">Circle</button> 
          <button id="erasertool" type="button" class="btn btn-primary" onclick="eraser()">Eraser</button> 
          <button id="saveBtn" class="btn btn-success" onclick="save()">Save Capture</button>
          <button id="clearBtn" class="btn btn-primary">Clear</button>
          <button id="restoreBtn" class="btn btn-danger">Restore</button>
        </div>
        <label id="imagePicker" for="imagePicker">Background image:</label>
        <input type="file" id="imagePicker" class="form-label">
      </div>
    </div>
  </div>
</div>
</div>

{% endblock%}