#paint {
    border: 5px solid rgb(0, 0, 0);
    cursor: crosshair;
    margin: 15px;
  }

body {
font-family: roboto, Arial, sans-serif !important;
background-color: #205829 !important;
color: rgb(0, 0, 0) !important;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
button{
border-radius: 30px !important; 
}

#saveBtn{
display: block;
margin-left: 0;
}

#restoreBtn{
margin: 5px;
}

.toolbar{
margin-left: 0;
align-items:flex-start;
}

#footer1 {
margin-top: 2% !important;
}

#colorTools, #brushSizeTools, #imageTools {
margin-bottom: 10px;
}

#buttonContainer {
margin-top: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

#imagePicker, #imagePickerT {
margin: auto !important;
}

#about {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

#about h1 {
margin-bottom: 10px;
}

#about p {
margin-bottom: 20px;
max-width: 650px;
}

#about img {
max-width: 50%;
}

.navbar {
padding-left: 5%;
width: 100%;
}

@media (max-width: 767px) {
.navbar-collapse {
    display: none;
}

.navbar-toggler {
    display: block;
}
}

h1 {
text-align: center;
}